<div *ngIf='getComponentFlag() == "Logout"'>
    <h1 mat-dialog-title>Logout</h1>
    <div mat-dialog-content>Are you sure you want to logout your account?</div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="true">Yes</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">No</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Reimbursement Receipt"'>
    <img class="rct-img-view" [src]="getImageURL()">
</div>
<div *ngIf='getComponentFlag() == "Update Reimbursement"'>
    <h1 mat-dialog-title>Update Reimbursment</h1>
    <div mat-dialog-content>Are you sure you want to update your reimbursement?</div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="true">Yes</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">No</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Cancel Reimbursement"'>
    <h1 mat-dialog-title>Cancel Reimbursment</h1>
    <div mat-dialog-content>
        This will be permanently deleted from your account. Are you sure you want to cancel your reimbursement?
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="true">Yes</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">No</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Approve Reimbursement"'>
    <h1 mat-dialog-title>Approve Reimbursement</h1>
    <div mat-dialog-content>
        <p>This will send a generated email to the Reimbursment Applicant with the following remarks. Please confirm
            approval.</p>
        <!-- Remarks Field -->
        <mat-form-field appearance="fill" class="remarks-field">
            <mat-label>Remarks</mat-label>
            <textarea matInput [(ngModel)]="data.remarks" class="remarks"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data.remarks" color="primary">Confirm</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Reject Reimbursement"'>
    <h1 mat-dialog-title>Reject Reimbursement</h1>
    <div mat-dialog-content>
        <p>This will send a generated email to the Reimbursment Applicant with the following remarks. Please confirm
            rejection.</p>
        <!-- Remarks Field -->
        <mat-form-field appearance="fill" class="remarks-field">
            <mat-label>Remarks</mat-label>
            <textarea matInput [(ngModel)]="data.remarks" class="remarks"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data.remarks" color="primary">Confirm</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Release Reimbursement"'>
    <h1 mat-dialog-title>Release Reimbursement</h1>
    <div mat-dialog-content>
        <p>This will send a generated email to the Reimbursment Applicant with the following remarks. Please confirm
            release.</p>
        <!-- Remarks Field -->
        <mat-form-field appearance="fill" class="remarks-field">
            <mat-label>Remarks</mat-label>
            <textarea matInput [(ngModel)]="data.remarks" class="remarks"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data.remarks" color="primary">Confirm</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial>Close</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Update Account"'>
    <h1 mat-dialog-title>Update Account</h1>
    <div mat-dialog-content>Are you sure you want to update your account?</div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="true">Yes</button>
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">No</button>
    </div>
</div>

<div *ngIf='getComponentFlag() == "Common"'>
    <h1 mat-dialog-title>{{getDialogTitle()}}</h1>
    <div mat-dialog-content>
        {{getDialogContent()}}
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
    </div>
</div>