.sidenav-container {
  height: 100%;
}

.sidenav {
  width: auto;
}

.sidenav .mat-toolbar {
  background: #1976d2;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list {
  margin: 10px;
}

.mat-icon {
  margin-right: 5px;
}
.list-item-active {
  background: rgba(0, 0, 0, 0.04);
}

.nav-name {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
